<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.screenshot-renamer</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>node</string>
        <string>__PROJECT_PATH__/src/index.js</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>__PROJECT_PATH__</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/screenshot-renamer.log</string>
    
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/screenshot-renamer-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>LowPriorityIO</key>
    <true/>
    
    <key>Nice</key>
    <integer>1</integer>
</dict>
</plist>